<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <body>
    <div class="container">
      <img src="http://www.tkhosur.com/assets/images/logo-dark.png" alt="Logo">
    </div>
    <br>
     <div class="container bg-default">
       <table class="table">
     <thead class="thead-dark">
       <tr>
         <th>Customer ID</th>
         <th>Name</th>
         <th>Email</th>
         <th>Message</th>
       </tr>
     </thead>
     <tbody>
       <% print.forEach(function (element) { %>
            <tr>
                <td scope="row"><%= element.id %></td>
                <td><%= element.uname %></td>
                <td><%= element.umail %></td>
                <td><%= element.umsg %></td>
            </tr>
         <% }) %>

       </tbody>
   </table>
      </div>
  </body>
</html>
